@media only screen and (max-width: 768px) {
    .main-text-powerpoint-container h2 {
        font-size: 1.2rem;
        margin: 0;
        margin-top: 50px;
    }

    .dropzone-container-p {
        font-size: 1rem;
    }

    .main-text-powerpoint-button {
        font-size: 0.9rem;
    }
}